<section class="container">
  <div class="card-container">
    <div class="card-especificacoes">
      <div>
        <h5 class="especificacoes__titles">Bill</h5>
        <div class="especificacoes__content-input">
          <input type="text" placeholder="0">
        </div>
      </div>
      <div>
        <h5 class="especificacoes__titles">Select Tip %</h5>
        <div class="especificacoes__content-button">
          <button>5%</button>
          <button>10%</button>
          <button>15%</button>
          <button>25%</button>
          <button>50%</button>
          <button>Custom</button>
        </div>
      </div>
      <div>
        <h5 class="especificacoes__titles">Number of People</h5>
        <div class="especificacoes__content-input">
          <input type="text" placeholder="0">
        </div>
      </div>
    </div>
    <div class="card-result">
      <div>
        <h5>Tip Amount</h5>
        <h1></h1>
      </div>
      <div>
        <h5>Total</h5>
        <h1></h1>
      </div>
      <div></div>
      <div class="result__content-button">
        <button>RESET</button>
      </div>
    </div>
  </div>
</section>
